node-red(flows).json
[{"id":"d3be53a5.f41d6","type":"tab","label":"Smart Agriculture","disabled":false,"info":""},{"id":"ea2b7e67.ed13c","type":"ibmiot in","z":"d3be53a5.f41d6","authentication":"apiKey","apiKey":"106c9213.d9a45e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":80,"wires":[["b73e22f4.c55e4","37905520.f4681a","2b3303fd.0639fc","85e27e45.c612c","b842b2af.54747"]]},{"id":"b73e22f4.c55e4","type":"debug","z":"d3be53a5.f41d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":80,"wires":[]},{"id":"b842b2af.54747","type":"function","z":"d3be53a5.f41d6","name":"","func":"global.set('temperature',msg.payload.d.temperature)\nglobal.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[[]]},{"id":"1b103c44.206ac4","type":"ui_gauge","z":"d3be53a5.f41d6","name":"","group":"c0531f75.903b9","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature ","label":"°C","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":220,"wires":[]},{"id":"36af3afd.7ec956","type":"ui_gauge","z":"d3be53a5.f41d6","name":"","group":"c0531f75.903b9","order":2,"width":"4","height":"4","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":280,"wires":[]},{"id":"442081eb.79be1","type":"ui_gauge","z":"d3be53a5.f41d6","name":"","group":"c0531f75.903b9","order":3,"width":"4","height":"4","gtype":"gage","title":"Soil Moisture","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":340,"wires":[]},{"id":"37905520.f4681a","type":"function","z":"d3be53a5.f41d6","name":"Temperature","func":"var temp = global.get('temperature')\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":200,"y":240,"wires":[["1b103c44.206ac4","b73e22f4.c55e4"]]},{"id":"2b3303fd.0639fc","type":"function","z":"d3be53a5.f41d6","name":"Humidity","func":"var temp = global.get('humidity')\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":200,"y":300,"wires":[["36af3afd.7ec956","b73e22f4.c55e4"]]},{"id":"85e27e45.c612c","type":"function","z":"d3be53a5.f41d6","name":"objectTemp","func":"var temp = global.get('objectTemp')\nreturn {payload:msg.payload.d.objectTemp}","outputs":1,"noerr":0,"x":210,"y":360,"wires":[["442081eb.79be1","b73e22f4.c55e4"]]},{"id":"20c3d9f3.4c01a6","type":"http in","z":"d3be53a5.f41d6","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["82a7ea03.257658"]]},{"id":"53518925.f5ca88","type":"http response","z":"d3be53a5.f41d6","name":"","statusCode":"","headers":{},"x":570,"y":440,"wires":[]},{"id":"82a7ea03.257658","type":"function","z":"d3be53a5.f41d6","name":"Sensor values","func":"msg.payload = {\n    \"temperature\":global.get('temperature'),\n    \"humidity\":global.get('humidity'),\n    \"objectTemp\":global.get('objectTemp')\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["53518925.f5ca88"]]},{"id":"2420f9ea.84ced6","type":"ibmiot out","z":"d3be53a5.f41d6","authentication":"apiKey","apiKey":"106c9213.d9a45e","outputType":"cmd","deviceId":"motor-control","deviceType":"simpledevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":920,"y":300,"wires":[]},{"id":"c18e61a.54c51a","type":"ui_button","z":"d3be53a5.f41d6","name":"","group":"c0531f75.903b9","order":4,"width":0,"height":0,"passthru":true,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":680,"y":280,"wires":[["b73e22f4.c55e4","2420f9ea.84ced6"]]},{"id":"323210ba.80e23","type":"ui_button","z":"d3be53a5.f41d6","name":"","group":"c0531f75.903b9","order":5,"width":0,"height":0,"passthru":true,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":690,"y":380,"wires":[["b73e22f4.c55e4","2420f9ea.84ced6"]]},{"id":"2912780f.646b38","type":"ui_toast","z":"d3be53a5.f41d6","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":910,"y":200,"wires":[[]]},{"id":"fee84bf3.aa6378","type":"ui_text","z":"d3be53a5.f41d6","group":"cad23834.078a28","order":2,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":120,"y":540,"wires":[]},{"id":"ac5be00f.02e66","type":"inject","z":"d3be53a5.f41d6","name":"","topic":"make request","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":500,"wires":[["b879a4a0.bdbb78"]]},{"id":"b879a4a0.bdbb78","type":"http request","z":"d3be53a5.f41d6","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Vijayawada,IN&units=metric&appid=abd3aafafe3aa0f53c308fc7e9d4935c","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":520,"wires":[["e6023427.a8c4e8","afc4b69a.fdb1e8","cb3d3506.2be9a8"]]},{"id":"f15565ca.fd0148","type":"debug","z":"d3be53a5.f41d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":540,"wires":[]},{"id":"490489c.74ca678","type":"ui_gauge","z":"d3be53a5.f41d6","name":"","group":"ff6fc561.bd6278","order":0,"width":"2","height":"2","gtype":"gage","title":"Temperature","label":"celsius","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":480,"wires":[]},{"id":"e6023427.a8c4e8","type":"change","z":"d3be53a5.f41d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":660,"wires":[["f15565ca.fd0148","490489c.74ca678"]]},{"id":"afc4b69a.fdb1e8","type":"change","z":"d3be53a5.f41d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":620,"wires":[["e6eb8b04.3d8a18","f15565ca.fd0148"]]},{"id":"cb3d3506.2be9a8","type":"change","z":"d3be53a5.f41d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":660,"wires":[["413e84da.8f198c","f15565ca.fd0148"]]},{"id":"e6eb8b04.3d8a18","type":"ui_gauge","z":"d3be53a5.f41d6","name":"","group":"ff6fc561.bd6278","order":1,"width":"2","height":"2","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":580,"wires":[]},{"id":"413e84da.8f198c","type":"ui_gauge","z":"d3be53a5.f41d6","name":"","group":"ff6fc561.bd6278","order":2,"width":"2","height":"2","gtype":"gage","title":"Pressure","label":"Pascal","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":660,"wires":[]},{"id":"106c9213.d9a45e","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"8m7sd0.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"c0531f75.903b9","type":"ui_group","z":"","name":"Smart Agriculture - IoT based  ","tab":"9437ef66.b024c","order":1,"disp":true,"width":"12","collapse":false},{"id":"cad23834.078a28","type":"ui_group","z":"","name":"Hello! Welcome to Smart Agriculture. Hope you are having a great day!!","tab":"7ace9700.e694e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff6fc561.bd6278","type":"ui_group","z":"","name":"LIVE FORECAST","tab":"fee78b63.19b238","order":2,"disp":true,"width":"6","collapse":false},{"id":"9437ef66.b024c","type":"ui_tab","z":"","name":"Smart Agriculture","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"7ace9700.e694e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"fee78b63.19b238","type":"ui_tab","z":"","name":"Open Weather API","icon":"dashboard","order":6,"disabled":false,"hidden":false}]